.name,
.role {
    color: #fff;
    z-index: 200;
    font-weight: 900;
    position: relative;
}

span {
    padding: 0 5px;
    background: black;
}

.img-link {
    margin: auto !important;
}

.subheadings {
    text-decoration: underline;
}

footer {
    margin: 5em 0 !important;
}