.header {
    color: #fff;
    overflow: hidden;
    text-align: right;
    padding: 30px 15px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
}
.background-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    border-radius: 5px;
}
.name, .role {
    z-index: 200;
    color: #fff;
    font-weight: 900;
    position: relative;
}